.main{
    box-shadow: 1rem 1rem 1rem 1rem rgb(43, 17, 116);
    margin: 4rem 8rem 4rem 8rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgb(56, 145, 193);
}
html{
    background-color: rgb(91, 123, 249);
}
.main .head{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.main .form .input {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    margin-bottom: 1rem;
    width: 500px;
}

.main .form .input #cell{
    font-weight: bold;
}

.main .form .input #cellb{
     margin-right: 13rem;
     width: 200px;
     display: flex;
     justify-content: start;
}

.main .form #btnsub{
    padding: 1rem 1rem 1rem 1rem;
}